@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

// Font Variables
$open-sans: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-base: 1.4rem;

html {
  font-family: $open-sans;
  font-size: 62.5%; //sets rem to base 10 instead of base 16
}

body {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: #000;
}
.degIcon{
  font-size: 2.4rem;
  font-weight: $font-weight-light;
  vertical-align: super;
}
h1{
  font-weight: $font-weight-bold;
  font-size: 6.4rem;
  &.loadingMsg{
    margin-top: 200px;
    font-size: 2.4rem;
  }
}
h2{
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.8px;
}
